[submodule "frontend"]
	path = frontend
	url = https://github.com/Pjsofttech-in/savings-loan-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Pjsofttech-in/savings-loan-backend.git
